
/*Hero*/
.hero {

}
.hero-header-container {

}
.header-logo {

}
.header-links {

}

/* Content-Container */
.content-container {

}
.content-headline {

}
.card-container {

}
.card {

}

/* Quote */
.quote-container {

}
.quote {

}
.quote-author {

}

/* Call To Action */
.cta-container {

}
.cta-text {

}
.cta-link {

}

 /* Footer */
.footer-container {

}
.footer-text {
  
}