* {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url('./content/images/forest.jpg');
  background-size: 100% 100%;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 3000px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
/*Hero*/
.hero {
  background-color: #111111;
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.hero-header-container {
  height: 38.2%;
  width: 100%;
  box-sizing: border-box;
  
  margin-bottom: 10px;
  background-color: #222222;
  border: solid 1px #333333;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.header-logo {
  padding: 0;
  margin: 0;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo {
  padding: 0;
  margin: 0 0 0 14px;
  height: auto;
}
.hero-header-text {
  font-size: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
h1 {
  padding: 0;
  margin: 0;
}
.hero-header-links {
  width: 560px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.links {
  width: 150px;
  height: 150px;
  border: solid 1px #781f1f;
  border-radius: 4px;
  background-color: #111111;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  margin: 10px 10px 10px 0px;
}
.hero-info {
  height: 61.8%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #222222;
  border: solid 1px #333333;
  border-radius: 0px 0px 16px 16px;
}

/* Content-Container */
.content-container {
  background-color: #111111;
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content-headline {

}
.card-container {

}
.card {

}

/* Quote */
.quote-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.quote {
  background-color: #333333;
}
.quote-author {

}

/* Call To Action */
.cta-container {
  background-color: #111111;
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.cta-text {

}
.cta-link {

}

 /* Footer */
.footer-container {
  background-color: #111111;
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-text {

}