* {
  font-family: 'Roboto', sans-serif;
  color: #fafaf0;
}
body {
  margin: 0;
  padding: 0;
}


/* Collection */
.hero,
.card-container, 
.content-container, 
.cta-container, 
.footer-container {
  background-color: #0f0a0aAA;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin-top: 40px;
}

.background {
  background-image: url('./content/images/forest.jpg');
  background-size: 100% 100%;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 3000px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #0f3538AA;
}
/*Hero*/
.hero {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
.hero-header-container {
  height: 38.2%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #0f353880;
  border: solid 1px #333333;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.header-logo {
  padding: 0;
  margin: 0;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  padding: 0;
  margin: 0;
  height: 150px;
  width: 150px;
  box-shadow:8px 8px 10px rgba(0, 0, 0, 0.4);
}
.hero-header-text {
  font-size: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
h1 {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px #781f1f;
  border-radius: 40px;
  font-size: 85px;
  padding: 26px 38px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.hero-header-links {
  width: 560px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.links {
  width: 150px;
  height: 150px;
  border: solid 1px #781f1f;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  margin: 10px 10px 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 24px;
}
.link-img {
  width: 150px;
  height: 100px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.hero-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.hero-info-left {
  background-color: #0f2021D9;
  height: 100%;
  width: 38.2%;
  padding: 10px;
  padding-left: 40px;
  margin: 10px;
  margin-left: 0px;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-info-right {
  background-color: #0f2021D9;
  height: 100%;
  width: 61.8%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 0px 0px 16px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}
.hero-info-headline{
  margin-top: 10px;
}
.hero-info-text {
  margin-top: 8px;
}
p {
  font-style: italic;
  color: #bdbdbd;
  font-size: 20px;
  line-height: 8px;
}
.art {
  border: solid 1px rgb(216, 216, 216);
  border-radius: 0 0 12px 0;
  height: 320px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content-Container */
.content-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content-headline {
  background-color: #0f353880;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-container {
  background-color: #0f2021D9;
  margin: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  border: solid 1px rgb(100, 34, 34);
  border-radius: 20px;
  width: 320px;
  height: 320px;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.c-img {
  width: 320px;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.c-text {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 116px;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-p {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

/* Quote */
.quote-container {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.quote {

}
.quote-author {

}

/* Call To Action */
.cta-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
.cta-text {

}
.cta-link {

}

 /* Footer */
.footer-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.footer-text {

}