* {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}

/* Collection */
.hero,
.card-container, 
.content-container, 
.cta-container, 
.footer-container {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin-top: 40px;
}

.background {
  background-image: url('./content/images/forest.jpg');
  background-size: 100% 100%;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 3000px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
/*Hero*/
.hero {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
.hero-header-container {
  height: 38.2%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #333333;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.header-logo {
  padding: 0;
  margin: 0;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo {
  padding: 0;
  margin: 0 0 0 14px;
  height: auto;
}
.hero-header-text {
  font-size: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
h1 {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px #333333;
  border-radius: 40px;
  font-size: 85px;
  padding: 26px 38px;
  margin: 0 0 0 30px;
}
.hero-header-links {
  width: 560px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.links {
  width: 150px;
  height: 150px;
  border: solid 1px #781f1f;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  margin: 10px 10px 10px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}
.hero-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.hero-info-left {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 38.2%;
  padding: 10px;
  padding-left: 40px;
  margin: 10px;
  margin-left: 0px;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-info-right {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 61.8%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #333333;
  border-radius: 0px 0px 16px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}
.hero-info-headline{
  margin-top: 10px;
}
.hero-info-text {
  margin-top: 8px;
}
p {
  font-style: italic;
  color: #bdbdbd;
  font-size: 20px;
  line-height: 8px;
}
.art {
  border-radius: 0 0 12px 0;
  height: 320px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content-Container */
.content-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.content-headline {

}
.card-container {

}
.card {

}

/* Quote */
.quote-container {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.quote {

}
.quote-author {

}

/* Call To Action */
.cta-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
.cta-text {

}
.cta-link {

}

 /* Footer */
.footer-container {
  height: 20%;
  width: 100%;
  padding: 10px;
  border: solid 1px #333333;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.footer-text {

}